<!-- contact us form -->
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="stylesheet" href="style.css">
  <script>
    window.onload = function () {
      AOS.init();
    }
  </script>
</head>

<body>
  <div class="fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
      <div style="background-color: greenyellow;">
        <!--collapse content here-->
        <div style="display: flex;justify-content: left;">
          <li>
            <ul>
              <h4><a href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;</h4>
            </ul>
            <ul>

              <h4><a href="/gallery">gallery</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
            </ul>
            <ul>
              <h4><a href="/contactus">contact us</a></h4>

            </ul>
          </li>

        </div>
      </div>
    </div>
    <nav class="navbar navbar-light " style="background-color: greenyellow;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <img src="https://img.icons8.com/color/48/000000/broccoli.png" />
      </button>
      <button type="button" class="btn btn-primary" id="order">ORDER NOW</button>
    </nav>
  </div>
  <h1>logo</h1><br><br>
  <h1 style="display: flex;justify-content: center;color: rgb(255, 0, 98);">contact us</h1>
  <br>
  <!--conatct form-->
  <div class="container" style="opacity: 0.8;">
    <div class="row">
      <div class="col-sm-8" style="background-color: grey;">
        <p>
        <h2 style="opacity:1;">send us a message</h2>
        </p>
        <p><input placeholder="Name" class="input1" type="text"></p>
        <p><input placeholder="Email" class="input1" type="text"></p>
        <p><input placeholder="Message" class="input1" type="text" style="height: 80px;">
          <button class="float-right" style="display: flex;justify-content: right;background-color: chartreuse;
        border-radius: 2%;display: flex;justify-content:right ;margin-top: 50px;">submit</button> </p>


      </div>
      <div class="col-sm-4" style="background-color: chartreuse">
        <p>
        <h2>INFO</h2>
        </p>
        <p>
        <h5>00 colony</h5>
        </p>
        <p>
        <h5>Indore (M.P)</h5>
        </p>
        <p>
        <h5>test@gmail.com</h5>
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <div style="max-width: 100%; overflow-x: hidden;">
    <h1>_________________________________________________________________________________________</h1>
  </div>
  <footer class="page-footer font-small  pt-4" style="background-color:aliceblue">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3" style="display: flex;justify-content: center;">

          <!-- Content -->
          <h5 class="text-uppercase"></h5>
          <div class="frame">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14721.4044106634!2d75.84705977542673!3d22.715187823810034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fda6b64b4587%3A0x18efed70880ee05a!2sNakoda%20Shri%20Veg%20Restaurant!5e0!3m2!1sen!2sin!4v1592322672681!5m2!1sen!2sin"
              width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">opening hours</h5>

          <ul class="list-unstyled">
            <li>
              <p href="#!">saturday to thusday</p>
            </li>
            <li>
              <p href="#!">9 AM to 11 PM</p>
            </li>
            <li>
              <p>Friday closed</p>
            </li>
            <li>
              <a href="#!"></a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">VISIT US</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">00 guru nanak colony</a>
            </li>
            <li>
              <a href="#!">Indore (M.P)</a>
            </li>
            <li>
              <a href="#!"><br></a>
            </li>
            <li>
              <a href="#" class="btn btn-primary">999999999</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->
      </div>
      <br>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color:#16c85d ;">© 2020 Copyright:
      <a>VM restaurant</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  </div>

</body>

</html>